<footer class="footer">
    <div class="footer-container bg-transparent d-flex" style="background: transparent;">

        <div class="copyright ">
          
            <form action="/admin/login" method="get">
                  &copy; 2026
               <button class="btn"> <span>Sumit Kumar Sah</span></button>
            </form>
           
        </div>

        <div class="social-links" style="background: transparent;">
            <a href="https://www.facebook.com/share/1BZoxoGPTQ/" target="_blank" class="social-icon">
                <i class="fa-brands fa-facebook-f bg-transparent "  style="background: transparent;"></i>
            </a>

            <a href="https://www.linkedin.com/in/sumit-kumar-sah-6586a1369" target="_blank" class="social-icon">
                <i class="fa-brands fa-linkedin-in bg-transparent"  style="background: transparent;"></i>
            </a>

            <a href="https://x.com/Sumit_Kumar2618" target="_blank" class="social-icon">
                <i class="fa-brands fa-x-twitter bg-transparent"  style="background: transparent;"></i>
            </a>

            <a href="https://github.com/SumitKumar-21" target="_blank" class="social-icon">
                <i class="fa-brands fa-github bg-transparent" style="background: transparent;"></i>
            </a>
        </div>

    </div>
</footer>