<% layout('/layouts/boilerplate') %>

<section class="hero">

    <div class="hero-text">
        <h1>Hey, I'm <br> Sumit.</h1>
    </div>

    <div class="hero-image">
        <img src="images/myimage.png" alt="">
    </div>

</section>

<section class="skills-section" id="skills">

    <h1 class="section-title">Technical Skills</h1>

    <!-- Programming -->
    <div class="skill-category">
        <h3>Programming Languages</h3>

        <div class="skill-grid">

            <div class="skill">
                <i class="devicon-cplusplus-plain colored"></i>
                <span>C++</span>
            </div>

            <div class="skill">
                <i class="devicon-c-plain colored"></i>
                <span>C</span>
            </div>

            <div class="skill">
                <i class="devicon-python-plain colored"></i>
                <span>Python</span>
            </div>

            <div class="skill">
                <i class="devicon-javascript-plain colored"></i>
                <span>JavaScript</span>
            </div>

        </div>
    </div>

    <!-- Frontend -->
    <div class="skill-category">

        <h3>Frontend</h3>

        <div class="skill-grid">

            <div class="skill">
                <i class="devicon-react-original colored"></i>
                <span>React.js</span>
            </div>

            <div class="skill">
                <i class="devicon-html5-plain colored"></i>
                <span>EJS</span>
            </div>

            <div class="skill">
                <i class="devicon-bootstrap-plain colored"></i>
                <span>Bootstrap</span>
            </div>

            <div class="skill">
                <i class="devicon-tailwindcss-original colored"></i>
                <span>Tailwind CSS</span>
            </div>

            <div class="skill">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>OpenLayers</span>
            </div>

        </div>

    </div>

    <!-- Backend -->
    <div class="skill-category">

        <h3>Backend</h3>

        <div class="skill-grid">

            <div class="skill">
                <i class="devicon-nodejs-plain colored"></i>
                <span>Node.js</span>
            </div>

            <div class="skill">
                <i class="devicon-express-original"></i>
                <span>Express.js</span>
            </div>

            <div class="skill">
                <i class="fa-solid fa-plug-circle-bolt"></i>
                <span>RESTful APIs</span>
            </div>

            <div class="skill">
                <i class="fa-solid fa-layer-group"></i>
                <span>MVC Architecture</span>
            </div>

        </div>

    </div>

    <!-- Database -->

    <div class="skill-category">

        <h3>Database</h3>

        <div class="skill-grid">

            <div class="skill">
                <i class="devicon-mongodb-plain colored"></i>
                <span>MongoDB</span>
            </div>

            <div class="skill">
                <i class="devicon-mysql-plain colored"></i>
                <span>MySQL</span>
            </div>

        </div>

    </div>

    <!-- Core -->

    <div class="skill-category">

        <h3>Core CS</h3>

        <div class="skill-grid">

            <div class="skill">
                <i class="fa-solid fa-code"></i>
                <span>DSA</span>
            </div>

        </div>

        <iframe
            class="codolio"
            src="https://codolio.com/profile/Sumit-%3E67"
            loading="lazy">
        </iframe>

    </div>

    <!-- Tools -->

    <div class="skill-category">

        <h3>Other Tools</h3>

        <div class="skill-grid">

            <div class="skill">
                <i class="devicon-git-plain colored"></i>
                <span>Git</span>
            </div>

            <div class="skill">
                <i class="devicon-github-original"></i>
                <span>GitHub</span>
            </div>

            <div class="skill">
                <i class="devicon-postman-plain colored"></i>
                <span>Postman</span>
            </div>

            <div class="skill">
                <i class="fa-solid fa-earth-americas"></i>
                <span>Antigravity</span>
            </div>

        </div>

    </div>

</section>

<!-- My story -->
<section class="mystory" id="story">

    <div class="myStory-text">
        <h1 >My Story</h1>
        <p>Every milestone shaped the person I am today.</p>
    </div>

    <div class="timeline">

        <div class="timeline-item left">
            <div class="content">
                <span class="date">July 25, 2007</span>
                <h3>Born</h3>
                <p>Born in Gaur, Nepal.</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
                <span class="date">2011 - 2012</span>
                <h3>First School</h3>
                <p>Started schooling at the age of 4 from UKG at Mitra Memorial Secondary School, Gaur, Rautahat.</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
                <span class="date">2012 - 2020</span>
                <h3>International Bal Academy</h3>
                <p>Completed Classes 1 to 8 at International Bal Academy, Gaur, Rautahat.</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
                <span class="date">2021 - 2022</span>
                <h3>Secondary Education</h3>
                <p>Studied Classes 9 & 10 at Shree Juddha Higher Secondary School and scored GPA 3.7 in SEE.</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
                <span class="date">2023 - 2024</span>
                <h3>Kathmandu Journey</h3>
                <p>Moved to Kathmandu Valley for higher secondary education (11 & 12).</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
                <span class="date">2024</span>
                <h3>Grade 12</h3>
                <p>Completed Grade 12 with GPA 3.77 (89%).</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
                <span class="date">2024 - 2025</span>
                <h3>Drop Year</h3>
                <p>Took a drop year to prepare for JEE Main & JEE Advanced.</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
                <span class="date">July 2025</span>
                <h3>JEE Success</h3>
                <p>Qualified both JEE Main and JEE Advanced with a decent rank.</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
                <span class="date">August 2025</span>
                <h3>NIT Warangal</h3>
                <p>Started B.Tech in Computer Science & Engineering at NIT Warangal.</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
                <span class="date">April 2026</span>
                <h3>First Year Completed</h3>
                <p>Successfully completed the first year of engineering.</p>
            </div>
        </div>

    </div>

</section>

   
body{
    margin:0;
    min-height:100vh;
    background:
        linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px),
        radial-gradient(circle at top right, rgba(59,130,246,.18), transparent 35%),
        radial-gradient(circle at bottom left, rgba(99,102,241,.15), transparent 35%),
        #050505;

    background-size:50px 50px,50px 50px,100% 100%,100% 100%;
      overflow-x:hidden;
    font-family: "Poppins", sans-serif;
}
.roboto-slab-lightbold {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.montserrat-lightbold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


/* NAVBAR */
.custom-navbar{
    background: rgba(0,0,0,.82);
    backdrop-filter: blur(18px);
    border-bottom:1px solid rgba(255,255,255,.08);
    padding:15px 0;
    transition:.4s;
}

/* Brand */
.custom-navbar .nav-link{
    color:#d9d9d9;
    font-size:1rem;
    font-weight:500;
    margin:0 8px;
    padding:10px 18px;
    position:relative;
    transition:.35s;
}

/* Hover */
.custom-navbar .nav-link:hover{
    color:#ffffff;
}

/*  Animated Underline*/

.custom-navbar .nav-link::after{

    content:"";
    position:absolute;
    left:50%;
    bottom:2px;

    width:0%;
    height:2px;

    background:linear-gradient(
        90deg,
        #00f5ff,
        #4d79ff,
        #8d5cff
    );

    transform:translateX(-50%);
    transition:.35s;
    border-radius:20px;
}

/* Hover Animation */

.custom-navbar .nav-link:hover::after{
    width:70%;
}

/* Active Section */

.custom-navbar .nav-link.active{

    color:white;

}

.custom-navbar .nav-link.active::after{

    width:80%;
    box-shadow:
        0 0 8px #00f5ff,
        0 0 18px #4d79ff,
        0 0 28px #8d5cff;

    animation:glow 2s infinite alternate;
}

@keyframes glow{

    from{

        box-shadow:
        0 0 5px #00f5ff,
        0 0 15px #4d79ff;

    }

    to{

        box-shadow:
        0 0 12px #00f5ff,
        0 0 30px #4d79ff,
        0 0 45px #8d5cff;

    }

}

/*    Contact Button */

.contact-btn{

    border:1px solid #4d79ff;
    border-radius:30px;
    padding:10px 26px !important;
    transition:.35s;
    overflow:hidden;

}

.contact-btn:hover{

    background:#4d79ff;
    color:white !important;

    box-shadow:
        0 0 15px rgba(77,121,255,.5),
        0 0 35px rgba(77,121,255,.35);

}

/* Mobile */

@media(max-width:991px){

    .navbar-nav{

        margin-top:15px;
        text-align:center;

    }

    .contact-btn{

        margin-top:15px;
        display:inline-block;

    }

}

/* home css */
.hero{
    position: relative;
    height: 88vh;
    width:100%;
}

/* BIG TEXT */

.hero-text{
    position:absolute;
    left:50px;
    top:150px;
    z-index:2;
}

.hero-text h1{
    margin:0;

    font-size:170px;
    font-weight:800;
    line-height:0.9;

    letter-spacing:-8px;

  background: linear-gradient(
    to bottom,
     rgba(255,255,255,.85),
    rgba(255,255,255,.70)
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}
.hero-text span{
    display:block;
}

/* IMAGE */

.hero-image{
    position:absolute;

    right:20px;
    top:80px;

    z-index:1;
}

.hero-image img{

    width:470px;
    height:490px;

    object-fit:cover;
    border-radius:45px;
    opacity:.9;
    filter:brightness(.7);
}

@media (max-width:576px){

.hero{
    padding:40px 20px;
}

.hero-text h1{

    font-size:clamp(42px,15vw,70px);

    line-height:1;
    letter-spacing:-2px;
}

.hero-image img{

    max-width:270px;
    border-radius:25px;
}
}

.myStory-text h3, .skills h3{
     margin-left: 10px;

    font-size:100px;
    font-weight:800;
    line-height:0.9;

    letter-spacing:-8px;

  background: linear-gradient(
    to bottom,
     rgba(255,255,255,.85),
    rgba(255,255,255,.70)
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent
}

.skills-section{

    width:90%;
    max-width:1200px;
    margin:auto;
    padding:80px 0;
    color:white;

}

.section-title{

    text-align:center;
    font-size:3rem;
    margin-bottom:60px;
    font-weight:700;

}

.skill-category{

    margin-bottom:45px;

}

.skill-category h3{

    font-size:1.5rem;
    margin-bottom:20px;
    color:#9ecbff;

}

.skill-grid{

    display:flex;
    flex-wrap:wrap;
    gap:18px;

}

.skill{

    display:flex;
    align-items:center;
    gap:12px;

    padding:14px 22px;

    border:1px solid rgba(255,255,255,.12);
    border-radius:15px;

    background:rgba(255,255,255,.04);

    backdrop-filter:blur(10px);

    transition:.35s ease;

    cursor:pointer;

}

.skill:hover{

    transform:translateY(-8px);

    background:rgba(80,150,255,.12);

    border-color:#4b7cff;

    box-shadow:0 0 20px rgba(75,124,255,.35);

}

.skill i{

    font-size:30px;

    transition:.35s;

}

.skill:hover i{

    transform:rotate(10deg) scale(1.15);

}

.skill span{

    font-size:17px;
    font-weight:500;

}

.codolio{

    width:100%;
    height:500px;

    margin-top:25px;

    border-radius:15px;

    border:1px solid rgba(255,255,255,.15);

    overflow:hidden;

}

@media(max-width:768px){

.section-title{

    font-size:2.2rem;

}

.skill-grid{

    gap:12px;

}

.skill{

    flex:1 1 calc(50% - 12px);

    justify-content:center;

}

.codolio{

    height:350px;

}

}

@media(max-width:480px){

.skill{

    flex:1 1 100%;

}

}


/* my story  */

.mystory{

    width:90%;
    max-width:1200px;
    margin:100px auto;
    color:#fff;

}

.myStory-text{

    text-align:center;
    margin-bottom:70px;

}

.myStory-text h2{

    font-size:3rem;
    margin-bottom:10px;

}

.myStory-text p{

    color:#aaa;

}

/*=====================*/

.timeline{

    position:relative;

}

.timeline::before{

    content:"";
    position:absolute;
    left:50%;
    top:0;
    transform:translateX(-50%);

    width:4px;
    height:100%;

    background:linear-gradient(#4facfe,#00f2fe);

}

/*=====================*/

.timeline-item{

    width:50%;
    padding:20px 40px;
    position:relative;

    animation:fadeUp .8s ease both;

}

.timeline-item:nth-child(even){

    animation-delay:.2s;

}

.timeline-item:nth-child(odd){

    animation-delay:.4s;

}

.left{

    left:0;
    text-align:right;

}

.right{

    left:50%;

}

/*=====================*/

.content{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.1);

    border-radius:18px;

    padding:20px;

    backdrop-filter:blur(8px);

    transition:.35s;

    position:relative;

}

.content:hover{

    transform:translateY(-8px) scale(1.03);

    border-color:#4facfe;

    box-shadow:0 0 25px rgba(79,172,254,.35);

}

/*=====================*/

.timeline-item::before{

    content:"";

    position:absolute;

    top:35px;

    width:18px;
    height:18px;

    border-radius:50%;

    background:#4facfe;

    border:4px solid #111;

    box-shadow:0 0 20px #4facfe;

}

.left::before{

    right:-11px;

}

.right::before{

    left:-11px;

}

/*=====================*/

.date{

    color:#4facfe;

    font-size:14px;

    font-weight:600;

}

.content h3{

    margin:8px 0;

    font-size:22px;

}

.content p{

    color:#cfcfcf;

    line-height:1.6;

}

/*=====================*/

@keyframes fadeUp{

    from{

        opacity:0;
        transform:translateY(60px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

/*=====================*/

@media(max-width:768px){

.timeline::before{

    left:20px;

}

.timeline-item{

    width:100%;

    left:0;

    padding-left:60px;
    padding-right:10px;

    text-align:left;

}

.timeline-item::before{

    left:11px;

}

.left::before,
.right::before{

    left:11px;

}

}

above  given is my current code for my portfolio home page . But i want to change the content in it, and make the portfolio looks more dedicated toward professional introduction rafter then my whole life story. I want to make this look a proper full stack project and protfolio a college student  open for internship and placement. Do not change the the bg and the intro "hey I am sumit".. so suggest me some idea first what changes do i need to make here and what more additional content should i post here .